<%- include('partials/header',{val:{title:'Products',page:'product'}}) -%>
<div class="ml-257 mt-72">
    <div class="page-head">
        <h1><i class="fa-solid fa-pills"></i> Products</h1>
    </div>
   <div id="add-product">
    <button><a href="/addproduct"><i class="fa-solid fa-plus"></i>  Add Product</a></button>
   </div>


        <table id="product-table">
            <thead>
            <tr id="product-table-head">
                <th>Product name</th>
                <th>Purchase Price</th>
                <th>Selling Price</th>
                <th>Quantity</th>
                <th>Low Warning</th>
                <th>Description</th>
                <th>Action</th>
                
            </tr>
        </thead>
            <tbody>
                <% if(products) {
                    
                    products.forEach((product)=>{%>
                      
            <tr id="product-table-body">
                <td><%= product.name  %></td>
                <td><%= product.pur_price  %></td>
                <td><%= product.sell_price  %></td>
                <td><%= product.quantity  %></td>
                <td><%= product.low_warn  %></td>
                <td><%= product.description  %></td>
                <td><a class="table-body-update-btn" href="/update/<%= product._id %>">Update</a></td>
            </tr>
            <% })}%>
            </tbody>

        </table>
    

</div>


<link rel="stylesheet" href="/products/products.css">
<script>
   
</script>  
</body>
</html>